//GRAY BUTTONS
$dark-gray: #4F4F4F;
$medium-gray: #AEAEAE;
$light-gray: #E0E0E0;
$gray-one: #333333;
$gray-three: #828282;

//BLUE BUTTONS
$medium-blue: #3D5AFE;
$dark-blue: #3D5AFE;
//10 % opacity #2962FF1A
$light-blue: rgba(41, 98, 255, 0.1);

// DISABLED
$disabled-back: #E0E0E0;
$disabled-text: #9E9E9E;

//ICONS
$icon-back: #2962FF;
$icon-text: #FFFFFF;

//STATE
$secondary-color: #455A64;
$danger-color: #D32F2F;

//HOVER & FOCUS

$hover-primary: #0039CB;
$hover-secondary: #1C313A;
$hover-danger: #9A0007;