@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

$noto : 'Noto Sans', sans-serif;
$poppins : 'Poppins', sans-serif;
$ubuntu : 'Ubuntu Mono', monospace;